:root {
    --main-border: 1px solid black;
    --main-height: auto;
    --image-padding: 2px;
    --text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: var(--main-height);
    border: var(--main-border);
    padding: var(--image-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 850px;
}

aside {
    width: 300px;
    margin: 20px;
    border: var(--main-border);
    padding: 15px;
    background-color: lightgray;
    color: black;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--main-height);
}

main img {
    width: 150px;
    height: var(--main-height);
    border: var(--main-border);
    padding: 2px;
    box-shadow: 0 0 30px darkgrey;
}

footer {
    margin-top: 20px;
    border-top: var(--main-border);
    text-align: var(--text-align);
}